.dow {
    background: url("../../images/DOW.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    border-radius: 3px;
    border: solid black 1px;

}

.nsdq {
    background: url("../../images/NSDQ.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    border-radius: 3px;
    border: solid black 1px
}

.spy {
    background: url("../../images/SPY.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 3px;
    border: solid black 1px;
    height: 200px
}

img {
    padding: 150px;
    margin: 40px
}

.images {
    display: flex;
}

.stocks {
    float: left;
}

.news {
    float: right;
}

h2 {
    text-align: center;
    text-decoration: underline
}

.stocklist {
    text-decoration: none;
    padding: 7px        
}

td {
    text-align: center;
}

table {
    border: solid black 1px
}

.container {
    display: flex;
}