.dow {
    background: url("../../images/DOW.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    border-radius: 3px;
    border: solid black 1px;

}

.nsdq {
    background: url("../../images/NSDQ.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    border-radius: 3px;
    border: solid black 1px
}

.spy {
    background: url("../../images/SPY.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 3px;
    border: solid black 1px;
    height: 200px
    /* width: 100% */
}

img {
    padding: 150px;
    margin: 40px
}

.images {
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* align-content: center  */
}

.stocks {
    float: left;
}

.news {
    float: right;
    
    /* border: solid black 1px; */
}

h2 {
    text-align: center
}

.stocklist {
    text-decoration: none;
    /* border: solid black 1px; */
    /* margin: 2px; */
    padding: 7px        
}

td {
    text-align: center;
}

table {
    border: solid black 1px
}

.container {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center */
}